{% extends 'base.html' %}
{% block page_content %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        {% if current_user.is_admin() %}
            <a href="{{ url_for('manager.manager_user') }}" class="btn btn-info">
                用户管理
            </a>
            <a href="{{ url_for('manager.manager_add_user') }}" class="active btn btn-info">
                新增用户
            </a>
        {% endif %}
        <a href="{{ url_for('manager.manager_blog') }}" class="btn btn-info">
            博客管理
        </a>
        <a href="{{ url_for('manager.manager_comment') }}" class="btn btn-info">
            评论管理
        </a>
    </div>
{% endblock %}
{% block page_content1 %}
{% import 'bootstrap/wtf.html'as wtf %}
    {{ wtf.quick_form(form) }}
{% endblock %}