{% extends 'base.html' %}
{% block page_content %}

    <span class="label label-info">姓名</span>{{ user.name }}<br>
    <span class="label label-info">邮箱</span>{{ user.email }}<br>
    {% if user.location %}
        <span class="label label-info">位置</span><a href="https://www.baidu.com/s?wd={{ user.location }}">{{ user.location }}</a><br>
    {% else %}
        <span class="label label-info">位置</span>没有设定位置<br>
    {% endif %}
    <span class="label label-info">描述</span>{{ user.about_me }}<br>
    {% if user.role %}
        <span class="label label-info">角色</span>{{ user.role.name }}<br>
        {% if current_user.is_admin() %}
            <span class="label label-info">邮箱</span><a href="mailto:{{ user.email }}">{{ user.email }}</a>
        {% else %}
            <span class="label label-info">邮箱</span>{{ user.email }}
        {% endif %}
    {% endif %}<br>
    {% if user.confirmed %}
        <span class="label label-info">邮箱验证</span>是
    {% else %}
        <span class="label label-info">邮箱验证</span>否
    {% endif %}<br>

    <span class="label label-info">注册时间</span>{{ moment(user.register_time).format('LLLL') }}<br>

    <span class="label label-info">最后访问时间</span>{{ moment(user.access_time).fromNow() }}<br>


    {% if current_user == user and not current_user.is_admin() %}
        <a class="btn btn-danger" href="{{ url_for('main.edit_user_info') }}">编辑资料</a>
    {% elif current_user.is_admin() %}
        <a class="btn btn-danger" href="{{ url_for('main.edit_admin',id = user.id) }}">编辑资料</a>
    {% endif %}
    {% if current_user == user %}
        <a class="btn btn-info" href="{{ url_for('main.write_blog') }}">发表博客</a>
    {% endif %}
    {% if current_user.is_follower_of(user) %}
        <a href="{{ url_for('main.unfollow',uid=user.id) }}" class="btn bg-success">取消关注</a>
    {% else %}
        <a href="{{ url_for('main.follow',uid=user.id) }}" class="btn bg-success">关注</a>
    {% endif %}
    <a href="{{ url_for('main.fans',uid=user.id) }}" class="btn btn-info">粉丝{{ user.followers.count() }}</a>
{% endblock %}
{% block page_content2 %}
    {% include 'blogs.html' %}
 {% import '_macro.html'as macro %}
    {{ macro.pagination_widget(pagination,'main.user_info',name=user.name) }}
{% endblock %}
