<!DOCTYPE HTML>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <!-- Bootstrap Core CSS -->
  <link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- Custom CSS -->
  <link href="./css/style.css" rel='stylesheet' type='text/css' />
  <!-- js-->
  <script src="./js/jquery-1.9.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/unslider.min.js"></script>

</head>

<body class="index">
<header class="navbar navbar-static-top bs-docs-nav" id="top">
  <div class="container clearfix">
    <div class="navbar-header">
      <a href="../" class="logo"><img src="images/logo.png" /></a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">首页</a>
        </li>
        <li>
          <a href="#">论坛</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" target="_blank">轻轻绵绵</a></li>
        <li><a href="#" target="_blank">注销</a></li>
        <li><a href="#" target="_blank">管理中心</a></li>
        <li><a href="#" target="_blank">评论管理</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="highlighted">
  <div class="sliders">
    <ul>
      <li class="list-1" style="background: url('images/sliders1.jpg') center top #000 no-repeat;height: 580px;">
        <div class="container">
          <div class="slider-title slider-title-animation"><img src="images/sliders1-1.png" /></div>
          <p class="p-animation">
            尚观独立研发，只能设备连接平台，设备智能化研发、接入、管理一体化<br />
            平台快速、高校、低成本实现产品智能化
          </p>
          <a href="###" class="btn btn-animation">了解物联网服务器</a>
        </div>
      </li>
      <li class="list-2" style="background: url('images/sliders1.jpg') center top #000 no-repeat;height: 580px;">
        <div class="container">
          <div class="slider-title"><img src="images/sliders1-1.png" /></div>
          <p>
            尚观独立研发，只能设备连接平台，设备智能化研发、接入、管理一体化<br />
            平台快速、高校、低成本实现产品智能化
          </p>
          <a href="###" class="btn">了解物联网服务器</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="slider-form">
    <div class="slider-form-box">
      <h2>登录</h2>
      <div class="webfrom">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="zhanghao" name="zhanghao" placeholder="请输入账号">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
          </div>
          <button type="submit" class="btn center-block">登录</button>
        </form>
      </div>
      <div class="caozuo clearfix">
        <div class="wangji"><a href="#">记住密码？</a></div>
        <div class="zhuce"><a href="#">立即注册</a></div>
      </div>
    </div>
  </div>
</div>

<div class="main-container container clearfix">
  <div id="ditu" style="width: 1000px;height:715px;"></div>
</div>


<footer class="footer">
  <div class="container">
    <div class="clearfix">
      <div class='footer-logo'><img src="images/logo.png" /></div>
      <div class="footer-menu clearfix">
        <div class="shangguan">
          <span>关于尚观</span>
          <ul>
            <li><a href="#">尚观概况</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">加入我们</a></li>
          </ul>
        </div>

        <div class="baoming">
          <span>如何报名</span>
          <ul>
            <li><a href="#">报名流程</a></li>
            <li><a href="#">报名须知</a></li>
            <li><a href="#">加入我们</a></li>
          </ul>
        </div>

        <div class="xiaoqu">
          <span>全国分校区</span>
          <ul class="clearfix">
            <li class="list-1"><a href="#">北京</a></li>
            <li class="list-2"><a href="#">上海</a></li>
            <li class="list-3"><a href="#">广州</a></li>
            <li class="list-4"><a href="#">深圳</a></li>
            <li class="list-5"><a href="#">成都</a></li>
            <li class="list-6"><a href="#">武汉</a></li>
            <li class="list-7"><a href="#">大连</a></li>
            <li class="list-8"><a href="#">西安</a></li>
            <li class="list-9"><a href="#">沈阳</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <span>关注我们</span>
        <ul class="clearfix">
          <li><img src="images/ewb1.jpg" /></li>
          <li class="last"><img src="images/ewb2.jpg" /></li>
        </ul>
      </div>
    </div>
    <div class="footer-friend">
      <span>友情链接：</span>
      <a target="_blank" href="http://www.upemb.com/cyuyan/">C语言入门</a>
      <a target="_blank" href="http://www.updba.com/video/">数据库教程</a>
      <a target="_blank" href="http://www.uplinux.com/page1/redhat/">RHCE认证培训</a>
      <a target="_blank" href="http://www.uplinux.com/mingling/">Linux命令大全</a>
      <a target="_blank" href="http://www.updba.com/kecheng/da-shu-ju-dbake-cheng/">120天速成OracleDBA</a>
      <a target="_blank" href="http://www.upemb.com/content/qian-ru-shi-xue-xi-lu-xian-tu/">嵌入式学习路线图</a>
      <a target="_blank" href="http://www.uplooking.club/">智能家居应用</a>
      <a target="_blank" href="http://java.uplookingios.com/">JAVA视频</a><br>
    </div>
    <p>
      <a target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP备17041726号-1</a>
      &nbsp;&nbsp;&nbsp;&nbsp;北京尚观锦程科技有限公司
    </p>
  </div>
</footer>
<script src="./js/echarts.js"></script>
<script src="./js/china.js"></script>
<script src="./js/ditu.js"></script>

<script>
  $(document).ready(function () {
    $('.sliders').unslider({
      speed: 500,
      delay: 5000,
      starting: function() {
        $(".highlighted .slider-title").removeClass('slider-title-animation');
        $(".highlighted p").removeClass('p-animation');
        $(".highlighted li .btn").removeClass('btn-animation');
      },
      complete: function() {

        $(".highlighted .slider-title").addClass('slider-title-animation');
        $(".highlighted p").addClass('p-animation');
        $(".highlighted li .btn").addClass('btn-animation');
      },
      dots: true
    });
  });
</script>
</body>
</html>