{% extends 'base.html' %}
{% block bodystyle %}
    <body class="wdsb">
{% endblock %}
{% block page_content %}

    <div class="main-container container clearfix">
        <div class="content" id="content">
            <div class="my-shebei">
                <h2>
                    我的全部设备
                    <a href="{{ url_for('main.add_device',uid = current_user.id) }}">添加设备</a>
                </h2>
                <div class="field-my">
                    {% for d in ds %}
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ url_for('main.device_info',did=d.id) }}"><img
                                            src="/static/images/shebei.jpg" alt="..."></a>
                                </div>
                            </div>
                            <div class="left">
                                <a href="{{ url_for('main.device_info',did=d.id) }}">
                                    <div class="field-shebeiming">我是设备名称【id：{{ d.id }}】</div>
                                </a>
                                <div class="field-shebeiming">描述&nbsp;:  {{ d.about }}</div>
                                <div class="field-shebeiming">名称：{{ d.name }}</div>
                                <div class="field-shebeiming">位置：{{ d.location }}</div>
                                <div class="field-shebeiming">时间：{{ moment(d.time).format('LLLL') }}</div>
                               <a href="{{ url_for('main.delete_device',did=d.id) }}" class="btn glyphicon glyphicon-trash btn-warning"></a>
                                <a href="{{ url_for('main.edit_device',did=d.id) }}" class="btn glyphicon glyphicon-cog btn-info" ></a>
                                <a href="{{ url_for('main.device_info',did=d.id) }}" class="btn bg-success">传感器</a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

          {% import '_macro.html'as macro %}
        {{ macro.pagination_widget(pagination,'main.devices') }}

        </div>
        <div class="sidebar-second" id="sidebar">
            <div class="block-sidebar block-sidebar-2">
                <p><img src="/static/images/banner.png"/></p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
